@import "../common/scss/colors.scss";

* {
    all: unset;
	transition: 100ms ease-in;
}

.meters {
    margin: 1rem 1rem 0 1rem;
    padding: 0.5rem;
}

.mic-box {
	margin-right: 80px;
	margin-bottom: -20px;
}

.bright-box {
	margin-right: -60px;
	margin-bottom: 100px;
}

.mic, .vol, .bright {
    background-color: $bg;
    border-radius: 50%;
    border: 10px solid $bg;
}

.mic-meter, .vol-meter, .bright-meter {
   background-color: $gray;
}

.mic-meter {
    color: $purple;
}

.vol-meter {
    color: $blue;
}

.bright-meter {
    color: $light-blue;
}

.mic-icon, .vol-icon, .bright-icon {
    font-family: JetBrainsMono Nerd Font;
    //text-shadow: 0 0 3px darkblue, 0 0 3px $bg, 0 0 3px whitesmoke;
    color: whitesmoke;
		//font-weight: bold;
}

.mic-icon , .bright-icon {
    font-size: 16px;
    padding: 30px;
}

.vol-icon {
    font-size: 30px;
    border-radius: 50%;
    padding: 50px;
}

.mic-label, .vol-label, .bright-label {
    font-family: JetBrainsMono Nerd Font;
		font-weight: bold;
    //text-shadow: 0px 0px 5px darkblue, 0 0 5px $bg, 0 0 5px whitesmoke;
    background-color: $bg;
    border-radius: 20px;
    margin-right: 0.5rem;
}

.vol-label {
	margin-top: 100px;
}
