$red: #e2b6b6;
$dark-navy: #1f212e;
$light-gray: #606d82;
$gray: #3c4252;
$dark-gray: #292c3d;
$light-blue: #b6d8e2;
$blue: #7486a9;
$mauve: #d6b8e0;
$dark-blue: #606d82;
$yellow: #e2e2b6;
$purple: #d6b8e0; 
$green: #99e6bf;
$orange: #92abbc;
$teal: #b6d8e2;
$mint: #b6d8e2;
$raisin-black: #1f212e;
$bg: #1f212e;
$fg: #ffffff;
