$red: #ed8796;
$dark-navy: #24273a;
$light-gray: #777777;
$gray: #363a4f;
$dark-gray: #1F1F26;
$light-blue: #c0caf5;
$blue: #8aadf4;
$mauve: #c6a0f6;
$dark-blue: #364A73;
$yellow: #eed49f;
$purple: #b7bdf8; 
$green: #a6da95;
$orange: #f5a97f;
$teal: #8bd5ca;
$mint: #91d7e3;
$raisin-black: #1e2030;
$bg: #24273a;
$fg: #cad3f5;
