# machine-specific configuration
{{- if eq .chezmoi.hostname "archlaptop" }}
# this will only be included in ~/.config/hypr/hyprpaper.conf on archlaptop
preload = ~/Pictures/wallpapers/fool_moon.jpg
wallpaper = eDP-1,~/Pictures/wallpapers/fool_moon.jpg
{{ else }}
preload = ~/Pictures/wallpapers/fool_moon.jpg
wallpaper = DP-2,~/Pictures/wallpapers/fool_moon.jpg
wallpaper = DP-1,~/Pictures/wallpapers/fool_moon.jpg
{{- end }}




