-- general
lvim.log.level = "warn"
lvim.format_on_save = true

--# black
vim.g.terminal_color_0 = "#494D64"
vim.g.terminal_color_8 = "#5B6078"

-- # red
vim.g.terminal_color_1 = "#ED8796"
vim.g.terminal_color_9 = "#ED8796"

-- # green
vim.g.terminal_color_2 =  "#A6DA95"
vim.g.terminal_color_10 = "#A6DA95"

-- # yellow
vim.g.terminal_color_3 = "#EED49F"
vim.g.terminal_color_11 = "#EED49F"

--# blue
vim.g.terminal_color_4 = "#8AADF4"
vim.g.terminal_color_12 = "#8AADF4"

--# magenta
vim.g.terminal_color_5 =  "#F5BDE6"
vim.g.terminal_color_13 = "#F5BDE6"

--# cyan
vim.g.terminal_color_6 = "#8BD5CA"
vim.g.terminal_color_14 = "#8BD5CA"

--# white
vim.g.terminal_color_7 = "#B8C0E0"
vim.g.terminal_color_15 = "#A5ADCB"


-- lvim.transparent_window = true
{{- if eq .chezmoi.hostname "archlaptop" }}

    vim.o.guifont = "JetBrainsMono Nerd Font:h8"
  {{ else }}

    vim.o.guifont = "JetBrainsMono Nerd Font Mono:h13"
  {{- end }}

vim.opt.backup = false -- creates a backup file
vim.opt.clipboard = "unnamedplus" -- allows neovim to access the system clipboard
vim.opt.cmdheight = 2 -- more space in the neovim command line for displaying messages
vim.opt.colorcolumn = "99999" -- fixes indentline for now
vim.opt.completeopt = { "menuone", "noselect" }
vim.opt.conceallevel = 0 -- so that `` is visible in markdown files
vim.opt.fileencoding = "utf-8" -- the encoding written to a file
vim.opt.foldmethod = "manual" -- folding set to "expr" for treesitter based folding
vim.opt.foldexpr = "" -- set to "nvim_treesitter#foldexpr()" for treesitter based folding
vim.opt.hidden = true -- required to keep multiple buffers and open multiple buffers
vim.opt.hlsearch = true -- highlight all matches on previous search pattern
vim.opt.ignorecase = true -- ignore case in search patterns
vim.opt.mouse = "a" -- allow the mouse to be used in neovim
vim.opt.pumheight = 10 -- pop up menu height
vim.opt.showmode = false -- we don't need to see things like -- INSERT -- anymore
vim.opt.showtabline = 2 -- always show tabs
vim.opt.smartcase = true -- smart case
vim.opt.smartindent = true -- make indenting smarter again
vim.opt.splitbelow = true -- force all horizontal splits to go below current window
vim.opt.splitright = true -- force all vertical splits to go to the right of current window
vim.opt.swapfile = false -- creates a swapfile
vim.opt.termguicolors = true -- set term gui colors (most terminals support this)
vim.opt.timeoutlen = 100 -- time to wait for a mapped sequence to complete (in milliseconds)
vim.opt.title = true -- set the title of window to the value of the titlestring
vim.opt.titlestring = "%<%F%=%l/%L - nvim" -- what the title of the window will be set to
vim.opt.undodir = vim.fn.stdpath "cache" .. "/undo"
vim.opt.undofile = true -- enable persistent undo
vim.opt.updatetime = 300 -- faster completion
vim.opt.writebackup = false -- if a file is being edited by another program (or was written to file while editing with another program) it is not allowed to be edited
vim.opt.expandtab = true -- convert tabs to spaces
vim.opt.shiftwidth = 2 -- the number of spaces inserted for each indentation
vim.opt.tabstop = 2 -- insert 2 spaces for a tab
vim.opt.cursorline = true -- highlight the current line
vim.opt.number = true -- set numbered lines
vim.opt.relativenumber = false -- set relative numbered lines
vim.opt.numberwidth = 4 -- set number column width to 2 {default 4}
vim.opt.signcolumn = "yes" -- always show the sign column otherwise it would shift the text each time
vim.opt.wrap = false -- display lines as one long line
vim.opt.spell = false
vim.opt.spelllang = "en"
vim.opt.scrolloff = 8 -- is one of my fav
vim.opt.sidescrolloff = 8
vim.g.neovide_transparency = 1.0
vim.g.neovide_refresh_rate = 240
vim.g.neovide_refresh_rate_idle = 5
vim.g.neovide_cursor_animation_length = 0.10
vim.g.neovide_cursor_trail_size = 0.5
vim.g.neovide_cursor_vfx_mode = "wireframe"
vim.g.neovide_remember_window_size = true
vim.g.neovide_remember_window_position = true
-- to disable icons and use a minimalist setup, uncomment the following
-- lvim.use_icons = false